# Automatically sets up your devbox/nix shell environment whenever you cd into this

# nix develop shell setup if flake.nix is present
if [ -f flake.nix ]; then
    # echo "Using flake.nix"
    use flake

# nix-shell setup if shell.nix is present
elif [ -f shell.nix ]; then
    # echo "Using shell.nix"
    use nix

# Devbox setup
elif [ -f devbox.json ]; then
    # echo "Using devbox"
    eval "$(devbox generate direnv --print-envrc)"
fi

